.Dictionary section {
  background: rgba(237, 244, 253, 0.69);
  padding: 30px;
  border: 3px solid rgb(235, 239, 249);
  border-radius: 16px;
  box-shadow: 5px 10px 10px rgba(232, 167, 243, 0.211);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px;
  padding: 6px 4px;
  color: rgb(88, 85, 85);
  border: 2px solid rgba(158, 75, 140, 0.464);
  border-radius: 5px;
}

.Dictionary input:focus {
  outline: none;
}
