.Phonetic button {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 5px 10px 10px rgba(232, 167, 243, 0);
}

.Phonetic button:hover {
  background: rgba(253, 53, 210, 0.156);
}
