.Synonyms {
  margin: 10px 0;
  font-size: 13px;
  color: #37393b;
  padding-left: 0;
}

.Synonyms li {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 2px;
  padding: 5px 10px;
  border: 1px solid rgb(176, 175, 175);
  border-radius: 20px;
}
